apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: farms.manager.external-loadbalancer
spec:
  group: manager.external-loadbalancer
  names:
    kind: Farm
    plural: farms
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            ports:
              items:
                type: object
              type: array
            provider:
              type: string
            serviceName:
              type: string
            serviceNamespace:
              type: string
          required:
          - serviceName
          - serviceNamespace
          - provider
          - ports
          type: object
        status:
          properties:
            connectionStatus:
              type: string
            ipAdress:
              type: string
            lastUpdate:
              format: date-time
              type: string
            nodeList:
              items:
                type: string
              type: array
          type: object
      type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
